<h1>Formulario con S4</h1>

{% for message in app.session.flashbag().get("message") %}
    <strong>{{ message }}</strong>
{% endfor %}

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}