{% extends 'base.html.twig' %}

{% block title %}
  {% if edit is defined %}
    Editar Tarea
  {% else %}
    Crear Tarea
  {% endif %}
{% endblock %}

{% block body %}
<div class="example-wrapper">
  <h2>  
  {% if edit is defined %}
    Editar Tarea
  {% else %}
    Crear Tarea
  {% endif %}
  </h2>
  {{ form_start(form) }}
  {{ form_widget(form) }}
  {{ form_end(form) }}  
</div>
{% endblock %}
