{% extends 'base.html.twig' %}

{% block title %}Todas las tareas{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Todas las tareas</h1>
    <table>
        <tr>
            <th>Tarea</th>
            <th>Prioridad</th>
            <th>Horas presupuestadas</th>
            <th>Acciones</th>
        </tr>

        {% for task in tasks %}
            <tr>
                <td>{{ task.title }}</td>
                <td>{{ task.priority }}</td>
                <td>{{ task.hours }}</td>
                <td></td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
