{% extends 'base.html.twig' %}

{% block title %}Todas las tareas{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Mis tareas</h1>
    {{ include("includes/task-list.html.twig") }}
</div>
{% endblock %}
